
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
  .btn-primary {
    @apply py-1 px-2 text-sm border border-solid;
  }
  .btn-secondary {
    @apply py-1 px-2 text-sm border-solid border rounded-sm text-gray-700;
  }
  .btn-ghost {
    @apply py-1 px-2 text-sm border-none rounded-sm;
  }
}

* {
}

html, body {
  overscroll-behavior-x: none;
}


*::selection {
  background: #79ffe1;
}

body {
  padding: 0px;
  margin: 0px;
}

input {
  -webkit-appearance: none;
}
